<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Enter the name of your cocktail</h1>
  <form method="post" action="/saveCocktail">
    <p>Cocktail Name: </p><input type="text" name="name">
    <p>Image url (can add later): <input type="text" name="url"></p>
    <input type="text" name="quantity" />

    <input type="reset" value="Clear" /><input type="submit" value="Submit">
  </form>

  <ul>
    {{range $id, $measurement := .Measurements}}
      <li>{{.measurement.ID}}{{.measurement.Name}}</li>
    {{end}}
  </ul>
  
</body>
</html>